
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: "SolaimanLipi";
    src: url("/Fonts/SolaimanLipi_29-05-06.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SolaimanLipi",sans-serif;
}

$border: #cecece;
$white: #ffffff;
$main: #cf2128;
$eng_font: 'Urbanist', sans-serif;
$black: #222222;
$head: #ffdada;
$ash: #f4f4f4;


@mixin inp_field {
    width: 100%;
    outline: none;
    border: 2px solid $border;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 17px;
    margin-bottom: 20px;
}

@mixin placeholder_span {
    position: absolute;
    left: 22px;
    font-size: 18px;
    color: #757575;
    pointer-events: none;
    background-color: $white;
    transition: 0.2s;
}

@mixin plcholder_spn_inp_foc {
    transform: translateY(-23px) !important;
    padding: 0px 3px;
    color: $main;
    font-weight: 600;
}

@mixin crt_btn {
    outline: none;
    border: none;
    width: 100%;
    height: 45px;
    border-radius: 10px;
    background-color: $main;
    color: $white;
    font-size: 20px;
    opacity: 0.6;
    pointer-events: none;
    cursor: pointer;
}

@mixin flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.preloader_wrapper{
    img{
        width: 100%;
    }
}

.logo_acc {
    width: 120px;

    img{
        width: 100%;
    }
}

section.create_acc , section.set_pin {
    padding: 45px 30px;
}

.crt_acc_h4 {
    padding: 15px 0px;
    h4{
        font-size: 24px;
    }
}


.crt_acc_p , .set_pin_text{
    padding-bottom: 50px;

    p{
        font-size: 20px;
        line-height: 1.5;
    }
}


.crt_acc_num , .set_pin_inp_wrapper {
    position: relative;

    input{
        @include inp_field();
    }

    input:focus{
        border: 2px solid $main;
    }

    span#num_placeholder, .pin_placeholder_again {
        @include placeholder_span();
        top: 80px;
    }

    span#text_placeholder , .pin_placeholder{
        @include placeholder_span();
        top: 14px;
    }

    input.number_crt_acc:focus +  #num_placeholder , input.text_crt_acc:focus + #text_placeholder{
        @include plcholder_spn_inp_foc();
    }

    input#pin_inp2:focus + #pin_placeholder_again{
        @include plcholder_spn_inp_foc();
    }
  
    input#pin_inp1:focus + #pin_placeholder1{
        @include plcholder_spn_inp_foc();
    }



    
    // input.pin_inp2:focus + i.pin_placeholder_again{
    //     @include plcholder_spn_inp_foc();
    // }

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Firefox */
input[type=number] {
  -moz-appearance: numberfield;
}

.crt_submit {
    padding-top: 10px;

    button {
        @include crt_btn();
    }

}

.crt_ruls{
    padding-top: 15px;

    p {
        text-align: center;
        line-height: 1.2;
        
    span{
        color: $main;
    }
    
    }
    
}

.set_pin_logo{
    width: 80px;
    img{
        width: 100%;
    }
}


.log_bottom{
    p{
    color: $main;
    }
}


button.pin_sub_btn{
    @include crt_btn()
}

span.show_hide {
    position: absolute;
    right: 20px;
}

span.show_hide1{
    top: 15px;
}

span.show_hide2{
    top: 82px;
}

section.preloader_wrapper{
    padding: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999999999999999999999;
}

section.create_acc{
    display: none;
}

section.set_pin {
    position: absolute;
    top: 0px;
    right: 100%;
    width: 100%;
    transition: 0.5s;
}

section.home_sec{
    padding: 0px;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 100%;
    background-color: $white;
    transition: 0.5s;
    overflow: hidden;

    .home_wrapper{

        .header_home{
            @include flex();
            background-color: $head;
            padding: 15px;
            position: absolute;
            width: 100%;
            top: 0px;
            left: 0px;

            .left_header_home{
                @include flex();
                .head_bar_wrapper{
                    color: $main;
                    padding-right: 18px;
                    font-size: 17px;
                }

                .head_name{
                    p{
                    font-family: $eng_font;
                    }
                }

            }

            .head_help_wrapper{
                @include flex();
                color: $main;

                .help_what{
                    background-color: $main;
                    padding: 2px 5px;
                    border-radius: 50%;
                    p{
                        color: $white;
                        font-size: 22px;
                        line-height: 0.7;
                    }
                }

                .help_text {
                    padding-left: 3px;
                    font: {
                        size: 20px;
                        weight:600;
                    }
                }

            }

        }

        .content_home{
            position: absolute;
            width: 100%;
            top: 53px;
            bottom: 60px;


            .add_customer{
                color: white;
                background-color: #b82329;
                display: inline-flex;
                flex-wrap: wrap;
                padding: 9px 10px;
                border-radius: 25px;
                font-size: 18px;
                position: absolute;
                bottom: 20px;
                right: 20px;

                .left_man{
                    padding-right: 7px;
                }
            }

            .home_features{
                display: inline-block;
                background-color: white;
                position: absolute;
                top: 55%;
                left: 50%;
                width: 80%;
                transform: translate(-50%, -50%);
                box-shadow: 1px 1px 5px 0px #fc8a32;
                border-radius: 5px;

                .tips_features {
                    color: #ffffff;
                    background-color: #fc8a32;
                    padding: 10px;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    @include flex();
                    justify-content: inherit;
                    position: relative;

                    .left_man{
                        padding-right: 10px;
                    }
                }

                .tips_features::after {
                    content: "";
                    height: 20px;
                    width: 20px;
                    -webkit-transform: rotate(47deg);
                    transform: rotate(47deg);
                    background-color: #fc8a32;
                    bottom: -9px;
                    left: 39px;
                    position: absolute;
                }


                .features {
                    padding: 20px;

                    div{
                        @include flex();
                        justify-content: inherit;
                        padding-bottom: 7px;
                        font: {
                            size: 18px;
                            weight:600;
                        }

                        .f_item1_left , .f_item2_left{
                            padding-right: 15px;
                        }

                        a{
                            @include flex();
                            margin: 0 auto;
                            color: black;
                            text-decoration: none;
                            div{
                                padding-bottom: 0px;
                                padding-left: 5px;
                                text-decoration: underline;
                            }
                        }
                    }
                }

            }



            .home_features::after {
                content: "";
                height: 30px;
                width: 30px;
                transform: rotate(47deg);
                background-color: white;
                bottom: -12px;
                right: 45px;
                right: 39px;
                position: absolute;
                box-shadow: 4px 3px 5px -2px #fc8a32;
            }


        }

        .footer_home{
            color: $white;
            background-color: #B82329;
            position: absolute;
            width: 100%;
            bottom: 0px;
            @include flex();
            border-top-left-radius: 13px;
            border-top-right-radius: 13px;

            div{
                width: 33.3333333333333333%;
                height: 60px;
                @include flex();
                flex-direction: column;
                padding: 7px;

                i{
                    font-size: 23px;
                }

                p{
                    font-size: 19px;
                }
            }

            .tally_foot{
                border-top-left-radius: 13px;
            }

            .inbx_foot{
                border-top-right-radius: 13px;
            }

            .foot_actv {
                background-color: #9C1E22;
            }

        }
    }
}


section.help_support_sec{
    padding: 15px 20px;
    width: 100%;
    position: absolute;
    transform: translateX(100%);
    top: 0px;
    right: 80px;
    transition: 0.1s;
    z-index: 9999999999999999;
    background-color: $white;
    visibility: hidden;
    pointer-events: none;
    width: 0px;
    overflow-y: scroll;
    height: 100%;
}

.help_top_img{
    height: 150px;
    // height: 220px;
    overflow: hidden;
    background-color: #F8DEDF;
    width: 100%;
    position: relative;
    margin-top: 50px;
    border-radius: 5px;

    a {
        text-decoration: none;
    }

    .help_phone_pic{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -3%);
        width: 70%;
    }
}

.yt_wrapper{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 14px 11px 10px 11px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
    z-index: 99;

    img{
        width: 22px;
      }
}

.help_top_txt{
    text-align: center;
    padding-top: 13px;
    color: $main;

    h5{
        font-size: 18px;
        line-height: 1.3;
        text-decoration: none;
    }

    p{
        font: {
            size: 13px;
            weight: 600;
        }
        text-decoration: none;
    }

}

.hm_left_head {
    display: flex;
    background: #FFDADA;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    align-items: center;
    padding: 20px;

    i.fas.fa-arrow-left {
        font-size: 14px;
    }

    h4 {
        padding-left: 20px;
        font-size: 18px;
    }
}

.live_support {
    width: 100%;
    padding-top: 10px;

    img{
        width: 100%;
        max-height: 230px;
        cursor: pointer;
    }
}

@media only screen and (min-width: 601px){
    .home_top_wrapper{
        @include flex();
        padding: 10px;
        align-items: inherit;

        .live_support , .help_top_img{
            height: 220px;
            width: 49%;
        }

        .live_support{
            transform: translateY(30px);
        }

    }

    .help_support_sec{
        padding: 10px 30px;
        width: 100%;
        position: absolute;
        right: 0px;
        top: 0px;
    }

}


.ul_wrapper {
    padding-top: 10px;

    h5 {
        font-size: 20px;
        color: #acacac;
        padding-bottom: 8px;
    }
}

.li_head{
    border-top: 1px solid #bababa;
    @include flex();
    padding: 15px 0px;
    background-color: #ffffff;
}

h6.left_txt {
    font-size: 20px;
    color: $black;
}

.li_wrapper {
    p {
        font-size: 19px;
        color: #222222db;
        visibility: hidden;
        opacity: 0;
        height: 0px;
        transition: 0.3s;
        overflow: hidden;
    }
}

ul{
    list-style: none;
}

p.clicked_p{
    visibility: visible;
    transform: translateY(-0px);
    opacity: 1;
    height: unset;
    padding-bottom: 10px;
}

.clicked_head{
    color: $main;
    h6{
        color: $main;
    }
}

.p_active_icon{
    transform: rotate(90deg);
}



.left_menu {
    display: inline-block;
    width: 80%;
    background-color: $white;
    padding: 25px 20px;
    box-shadow: 1px 0px 15px 0px #00000057;
    position: fixed;
    left: -120%;
    top: 0px;
    bottom: 0px;
    overflow-y: scroll;
    z-index: 99;
    transition: 0.5s;


    .left_menu_wrapper{
        overflow-y: scroll;
    }

    .profile_info_wrapper{
        @include flex();
        padding-bottom: 20px;

        .round_short_name{
            background-color: #FCCD29;
            height: 50px;
            width: 50px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
        }
    }

    .store_name {
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 2px;
    }
    
    .store_num {
        color: #585858;
        font-size: 16px;
    }

    .left_menu_ul_wrapper{
        width: 80%;

        ul{
            list-style: none;
            h6{
                font-size: 18px;
                padding-top: 10px;              
                line-height: 1;
                color: $main;
            }

            li{
                font-size: 18px;
                padding: 3px 0px;
                margin: 5px 0px;
                border-bottom: 2px dashed #dadada;
            }

            h6 + li{
                padding-top:0px;
            }

        }
    }

    .left_menu_bottom{
        padding: 7px 0px;
        padding-top: 20px;
        @include flex();

        img {
            width: 100px;
        }

        span{
            font-size: 15px;
            color: #191919;
        }

    }


}


.overlay{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: none;
}

.left_back{
    left: 0px;
}

.left_back + .overlay{
    display: inline-block;
}

.left_menu_sec{
    padding: 0px;
}

section.new_customer{
    position: absolute;
    left: 0;
    top: -120%;
    width: 100%;
    height: 100%;
    background-color: $white;
    transition: 0.3s;

    
    .new_cus_sup_overly {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #00000099;
        z-index: 999999;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .new_done_wrapper {
            height: 150px;
            width: 80%;
            background-color: #ffffff;
            border-radius: 5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            i{
                font-size: 50px;
                color: #3DC259;
                padding-bottom: 8px;
            }

            h6{
                font-size: 18px;
                color: #8a8a8a;
            }

            button{
                @include crt_btn();
                opacity: 1;
                pointer-events: all;
                width: 30%;
                height: 30px;
                border-radius: 5px;
                font-size: 15px;
                margin-top: 10px;
            }

        }
    }

    .customer_header{
        background-color: $head;
        @include flex();
        padding: 15px;
        justify-content: flex-start;

        i{
            padding-right: 15px;
            font-size: 17px;
        }

        h4{
            font-size: 18px;
        }
    }    

    .cus_sup_wrapper{
        background-color: $ash;
        @include flex();
        padding-top: 15px;

        div{
            padding: 0px 60px;
            font-size: 20px;
        }

        .active{
            color: $main;
            border-bottom: 4px solid $main;
        }
    }

    .customer_information , .supplier_information{
        padding: 20px;
        display: none;

        .phonebook{
            @include flex();
            justify-content: center;
            border: 1px solid $black;
            height: 45px;
            border-radius: 25px;
            font-size: 18px;
            margin-bottom: 20px;

            i{
                padding-right: 10px;
            }

        }

        .cus_inp_wrappers , .sup_inp_wrappers{
            position: relative;

            input{
                @include inp_field();
                padding-left: 50px;
            }

            span{
                @include placeholder_span();
                top: 13px;
                left: 50px;
            }

            input:focus + span{
                @include plcholder_spn_inp_foc();
            }

            i.inp_icon{
                @include placeholder_span();
                top: 14px;
            }

        }

        .cus_sub_btn , .sup_sub_btn{
            @include crt_btn();
            position: absolute;
            bottom: 30px;
            left: 20px;
            width: 90%;
        }

        
    }
}

button.btn_active{
    opacity: 1 !important;
    pointer-events: inherit !important;
}

.cus_sup_info_display{
    display: block !important;
}

section.top_back{
    top: 0;
}

.new_done_display{
    display: none !important;
}